.git
.gitignore
.env
.env.local
.env.production
.env.staging
node_modules
vendor
public/build
public/hot
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
*.log
.phpunit.result.cache
.DS_Store
Thumbs.db
